##############################
# Host Configuration
##############################
TORRENT_DOWNLOAD_DIR="${PWD}/Downloads"
NGINX_WEB_DIR="${PWD}/web/www"
NGINX_WEB_SSL="${PWD}/certs"
NGINX_WEB_RESTRICT="${PWD}/restrict"
