##############################
# NGINX Container Configuration
##############################

WEB_DOMAIN=localhost
TRANSMISSION_HOST=transmission
SSL_CERTIF=/etc/nginx/ssl/server.crt
SSL_CERTIF_KEY=/etc/nginx/ssl/server.key
SSL_TRUSTED_CERTIF=/etc/nginx/ssl/server.crt
NGINX_HTPASSWD=//etc/nginx/restrict/.htpasswd